<div class="screen">
    <div class="content">
        <!-- Logo -->
        <img src="assets/bingotask-logo.png" alt="BingoTask Logo" class="logo" />

        <!-- Title -->
        <h2 class="title">SELECT ROLE</h2>

        <!-- Buttons -->
        <div class="actions">
            <button class="btn" routerLink="/admin-login">
                Admin
            </button>

            <button class="btn" routerLink="/participant-login">
                Employee
            </button>
        </div>
    </div>
</div>