<div class="screen">
    <div class="content">
        <!-- Logo -->
        <img src="assets/bingotask-logo.jpeg" alt="BingoTask Logo" class="logo" />

        <!-- Form -->
        <form class="form" autocomplete="off">
            <label class="label" for="email">Email</label>
            <input class="input" id="email" type="email" />

            <label class="label" for="password">Password</label>
            <input class="input" id="password" type="password" />

            <button (click)="loginAsEmployee()" class="btn" type="button">
                Login
            </button>

            <a routerLink="/landing" class="back" type="button">
                Back
            </a>

            <!-- Signup text -->
            <div class="signup">
                <span>Don't have an account?</span>
                <a routerLink="/registration" class="register">Sign up</a>
            </div>
        </form>
    </div>
</div>